<%= form_for(@manage) do |f| %>
  <% if @manage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage.errors.count, "error") %> prohibited this manage from being saved:</h2>

      <ul>
      <% @manage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :String %><br>
    <%= f.text_field :String %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
