<h1>Listing manages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manages.each do |manage| %>
      <tr>
        <td><%= manage.name %></td>
        <td><%= manage.String %></td>
        <td><%= link_to 'Show', manage %></td>
        <td><%= link_to 'Edit', edit_manage_path(manage) %></td>
        <td><%= link_to 'Destroy', manage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manage', new_manage_path %>
