<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manage.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @manage.String %>
</p>

<%= link_to 'Edit', edit_manage_path(@manage) %> |
<%= link_to 'Back', manages_path %>
